
:root{
	--primary-color: #191B1C;
	--secondary-color: white;
	--tertiary-color: grey;
}

@mixin grey_border_margin_auto{
	border: 1px solid var(--tertiary-color);
	margin: auto;
	text-align: center;
}

@mixin hover_buttons{
	background-color: var(--secondary-color);
	color: var(--primary-color);

}



#game a{
	padding: 180px 150px 180px;
	font-size: 80px;
}

section{
		p{
			padding: 15px;
			margin: 0px;
		}
		#player-dice-title, #computer-dice-title{
			background-color: var(--primary-color);
		}
}

table{
	@include grey_border_margin_auto();
	width: 95%;

	th, td{
	@include grey_border_margin_auto();
	padding: 5px;
	}
	.blank{
	border: 1px solid transparent;
	}
}


#overall-dice-game{
	@include grey_border_margin_auto();
	max-width: 90%;
	display: grid;
	grid-template-rows: minmax(360px, auto) minmax(10px, auto);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"player-dice computer-dice score-tally"
	"player-dice-result computer-dice-result score-tally"
	"roll-dice roll-dice restart";
	grid-gap: 8px;

	.dice-image{
		width: 250px;
		padding-top: 30px;
	}
	.box{
		border: 1px solid var(--tertiary-color);
		margin: 5px;
	}

	.player-dice{ 	grid-area: player-dice;		background-color: var(--secondary-color);}
	.computer-dice{ grid-area: computer-dice; 	background-color: var(--secondary-color);}
	.score-tally{ 	grid-area: score-tally; }
	.player-dice-result{ 	grid-area: player-dice-result; }
	.computer-dice-result{ 	grid-area: computer-dice-result; }

	.roll-dice{ grid-area: roll-dice; }
	.restart{ 	grid-area: restart; }
	.roll-dice:hover{
		@include hover_buttons();
	}
	.restart:hover{
		@include hover_buttons();
	}
}