:root {
  --primary-color: #191B1C;
  --secondary-color: white;
  --tertiary-color: grey;
}

#game a {
  padding: 180px 150px 180px;
  font-size: 80px;
}

section p {
  padding: 15px;
  margin: 0px;
}

section #player-dice-title, section #computer-dice-title {
  background-color: var(--primary-color);
}

table {
  width: 95%;
  margin: auto;
}

table th, table td {
  border: 1px solid var(--tertiary-color);
  padding: 5px;
  margin: auto;
}

table .blank {
  border: 1px solid transparent;
}

#overall-dice-game {
  border: 1px solid var(--tertiary-color);
  text-align: center;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: minmax(360px, auto) minmax(10px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "player-dice computer-dice score-tally" "player-dice-result computer-dice-result score-tally" "roll-dice roll-dice restart";
  grid-gap: 8px;
}

#overall-dice-game .dice-image {
  width: 250px;
  padding-top: 30px;
}

#overall-dice-game .box {
  border: 1px solid var(--tertiary-color);
  margin: 5px;
}

#overall-dice-game .player-dice {
  background-color: var(--secondary-color);
  grid-area: player-dice;
}

#overall-dice-game .computer-dice {
  background-color: var(--secondary-color);
  grid-area: computer-dice;
}

#overall-dice-game .score-tally {
  grid-area: score-tally;
}

#overall-dice-game .roll-dice {
  grid-area: roll-dice;
}

#overall-dice-game .roll-dice:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#overall-dice-game .player-dice-result {
  grid-area: player-dice-result;
}

#overall-dice-game .computer-dice-result {
  grid-area: computer-dice-result;
}

#overall-dice-game .restart {
  grid-area: restart;
}

#overall-dice-game .restart:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
