:root{
	--primary-color: white;
	--secondary-color: black;
	--tertiary-color: pink;
}

body {
	background-image: url("../images/hangman/black.jpg");
}

@mixin borderSet($radius, $style, $color, $background-color) {
	border-radius: $radius;
	border-style: $style;
	border-color: $color;
	background-color: $background-color;
}

div{
	color:var(--primary-color);
	margin: auto;
	text-align: center;

	button:hover {
		@include borderSet(15px, solid, var(--tertiary-color), dimgrey);
	}
}

button {
	color: var(--primary-color);
	margin: 5px;
	width: 30px;
	height: 30px;
	@include borderSet(15px, groove, var(--primary-color), var(--secondary-color));
}

h3{
	margin: 10px;
}

#hangman-image{
	max-width: 90%;
	@include borderSet(10px, groove, var(--tertiary-color), var(--secondary-color));
}

.stage{
	position: relative;
}

#hint {
	p {
		strong{
			@include borderSet(10px, solid, var(--primary-color), var(--secondary-color));
		}

		strong:hover{
			@include borderSet(10px, solid, var(--tertiary-color), var(--secondary-color));
			color: var(--tertiary-color);
			cursor: pointer;
		}
	}
}

#wordDisplay{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	width: 50%;
	display: flex;
	justify-content: center;
}
