:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: pink;
}

body {
  background-image: url("../images/hangman/black.jpg");
}

div {
  color: var(--primary-color);
  margin: auto;
  text-align: center;
}

div button:hover {
  border-radius: 15px;
  border-style: solid;
  border-color: var(--tertiary-color);
  background-color: dimgrey;
}

button {
  color: var(--primary-color);
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-style: groove;
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

h3 {
  margin: 10px;
}

#hangman-image {
  max-width: 90%;
  border-radius: 10px;
  border-style: groove;
  border-color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.stage {
  position: relative;
}

#alphabet {
  max-width: 1000px;
}

#hint p strong {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

#hint p strong:hover {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--tertiary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

#wordDisplay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  width: 50%;
  display: flex;
  justify-content: center;
}
