
div{
	color:white;
	margin: 5px;
	// border: 1px solid grey;
	text-align: center;
}

#hangman-image{
	height: 650px;
}

button {
	color: white;
	margin: 5px;
	background-color:black;
	width: 30px;
	height: 30px;
 	border-radius: 15px;
}

.stage{
	position: relative;
}

h3{
	margin: 10px;
}

#blanks{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	width: 50%;
	display: flex;
	justify-content: center;
}
